<mat-toolbar *ngIf="isUser" xmlns="">
<!--  <p>{{firstInitial}}{{lastInitial}}</p>-->
  <img src="https://ui-avatars.com/api/?name={{currentUser.firstName}}+{{currentUser.lastName}}&rounded=true&size=50&background={{currentUser.avatarcolor}}&color=FFFFFF"
       id="avatar" alt="Avatar">

  <button mat-button routerLink="/">Project Teams</button>
<!--  <button mat-button routerLink="/rankings">Rankings</button>-->
  <button mat-button routerLink="/admin" *ngIf="isAdmin">Admin</button>
  <button mat-button routerLink="/chat">Chat</button>
  <button mat-button routerLink="/settings">Settings</button>
<!--  <button mat-button routerLink="/settings">Settings</button>-->

  <button mat-button (click)="logout()">Logout </button>
</mat-toolbar>


<router-outlet></router-outlet>
