
<ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="chatArray.length > 0">
  <li *ngFor="let chat of chatArray">
    <img src="https://ui-avatars.com/api/?name={{chat.firstName}}+{{chat.lastName}}&rounded=true&size=40&background={{chat.avatarcolor}}&color=FFFFFF"
         id="avatar" alt="Avatar">
    <div class="msg">
      <div class="user">
        {{capitalizeFirstLetter(chat.firstName)}} {{capitalizeFirstLetter(chat.lastName)}}
        <span class="range admin">{{chat.role}}</span>
      </div>
      <p> {{ chat.message }} </p>
      <time>{{ chat.date }}</time>
    </div>
  </li>
</ol>

<div class="typezone">
  <form>
    <textarea type="text" #msgInput (keydown.enter)="sendMessage(msgInput.value);false;msgInput.value='';"
              placeholder="Enter message...">
    </textarea>
  </form>
</div>
