<!--<div class = "box">-->
<!--  <p class="textFeature">Chat Room</p>-->

<!--  <div class="pa-record-container">-->

<!--    <chat-component class="card-item" *ngFor="let chatrecord of chatArray" [chatrecord]="chatrecord" ></chat-component>-->

<!--  </div>-->

<!--  <p class="textFeature2">-->

<!--    Message:-->
<!--    <mat-form-field appearance="legacy">-->

<!--      <mat-label>Enter a message</mat-label>-->
<!--      <input type="text" matInput [(ngModel)]='nmessage'  placeholder="" >-->
<!--      <button class="buttonspace" mat-button (click)="sendMessage()">Send</button>-->
<!--    </mat-form-field>-->
<!--  </p>-->
<!--</div>-->


<ol class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="chatArray.length > 0">
  <li *ngFor="let chat of chatArray">
    <img src="https://ui-avatars.com/api/?name={{chat.firstName}}+{{chat.lastName}}&rounded=true&size=40&background={{chat.avatarcolor}}&color=FFFFFF"
         id="avatar" alt="Avatar">
    <div class="msg">
      <div class="user">
        {{chat.firstName}} {{chat.lastName}}<span class="range admin">{{chat.role}}</span></div>
      <p> {{ chat.message }} </p>
      <time>{{ chat.date }}</time>
    </div>
  </li>
</ol>

<div class="typezone">
  <form>
    <textarea type="text" #msgInput (keydown.enter)="sendMessage(msgInput.value);false;msgInput.value='';"
              placeholder="Enter message...">

    </textarea><input type="submit" class="send" value=""/>
  </form>

  <div class="emojis"></div>
</div>
