<body>
<div class="box">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-header>

      <mat-card-title class="textFeature">Registration</mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <div class="textFeature2">
        First Name:
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <mat-hint *ngIf="submitted && f.firstName.errors" >
            <mat-hint *ngIf="f.firstName.errors.required">First Name is required</mat-hint>
            <mat-hint *ngIf="f.firstName.errors.pattern">First Name is using illegal characters.</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="textFeature2">
        Last Name:
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <mat-hint *ngIf="submitted && f.lastName.errors" >
            <mat-hint *ngIf="f.lastName.errors.required">Last Name is required</mat-hint>
            <mat-hint *ngIf="f.lastName.errors.pattern">Last Name is using illegal characters.</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>


      <div class="textFeature2">
        Email:
        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-hint *ngIf="submitted && f.email.errors" >
            <mat-hint *ngIf="f.email.errors.required">Email is required</mat-hint>
            <mat-hint *ngIf="f.email.errors.pattern">Email is typed with errors.</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="textFeature2">
        Username:
        <mat-form-field>
          <input matInput placeholder="Username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <mat-hint *ngIf="submitted && f.username.errors" >
            <mat-hint *ngIf="f.username.errors.required">Username is required</mat-hint>
            <mat-hint *ngIf="f.username.errors.pattern">Username is using illegal characters.</mat-hint>
          </mat-hint>
        </mat-form-field>

      </div>

      <div class="textFeature2">
        Password:
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <mat-hint *ngIf="submitted && f.password.errors" >
            <mat-hint *ngIf="f.password.errors.required">password is required</mat-hint>
            <mat-hint *ngIf="f.password.errors.minlength">Password must be at least 6 characters.</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="textFeature2">
        Verify Password:
        <mat-form-field>
          <input matInput placeholder="Verify Password" type="password" formControlName="verifypassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && (f.verifypassword.errors || f.verifypassword.value != f.password.value) }">
          <mat-hint *ngIf="submitted && (f.verifypassword.errors || f.verifypassword.value != f.password.value)" >
            <mat-hint *ngIf="f.verifypassword.errors.required">Password is required</mat-hint>
            <mat-hint *ngIf="f.verifypassword.errors.minlength">Password must be at least 6 characters.</mat-hint>
            <mat-hint *ngIf="f.verifypassword.value != f.password.value">Passwords do not match</mat-hint>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="textFeature2">
        Introduce Yourself:
        <mat-form-field>
          <input matInput placeholder="Bio" type="text" formControlName="bio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bio.errors }">
          <mat-hint *ngIf="submitted && f.bio.errors" >
            <mat-hint *ngIf="f.username.errors.required">bio is required</mat-hint>
<!--            <mat-hint *ngIf="f.username.errors.pattern">bio is using illegal characters.</mat-hint>-->
          </mat-hint>
        </mat-form-field>

      </div>


      <div class="textFeature2">
        Role:
        <mat-form-field>
          <mat-select placeholder="Role" formControlName="role">
            <mat-option [value]="role.name" *ngFor="let role of roles;">{{role.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>




    </mat-card-content>
    <mat-card-actions class="textFeature2">

      <button mat-button [disabled]="loading" >Register</button>
      <!--      <img class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
      <button mat-button  routerLink="/login" >Cancel</button>
      <mat-spinner  *ngIf="loading" [diameter]="30"></mat-spinner>

    </mat-card-actions>

  </form>



</div>

</body>
